@import "./mixins/mixins.scss";


@include b(container){
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    @include then(vertical){
        flex-direction: column;
        flex: 1;
    }
}